h1 {
  font-size: 220%;
  margin: 20px 40px 20px 27px;
}

* {
  background-color: lavender;
  font-family: "courier new";
}

p img.nth-child(2,3) {
  width: 110px;
  height: 80px;
}

h1 span {
  color: #800000;
  font-size: 90%;

}

div.first-child, ul, h1, #cat, h2 {
  text-align: center;
}

#cat {
  margin: 30px 0 40px 213px;
  border-radius: 10px 10px 15px 15px;
  width: 440px;
  border: 0.8px dotted green;
}

#drake1, #drake2 {
  width: 200px;
  height: 200px;
  margin: 90px 0 0 0;
  border: 0.4px dashed grey;
  border-radius: 13px 7px 13px 7px;
}

#drake2  {
  float: right;
}

div.nth-child(2) {
  width: 800px;
  height: 240px;
  padding: 70px;
}

blockquote {
  font-size: 20px;
  margin: -50px 0 0 300px;
}

p, #camel, #dank, ul, li > a {
  color: #6495ED;
}

#camel, #dank, #cheese, #economy, #young-thug, #spotify, p, h1 a, #pizza, #drizz, #twenty, .nav > a, .links > a {
  text-decoration: none;
}

#cheese, #economy, #young-thug, #spotify, h1 a, h1, #drizz, #twenty, h2 {
  color: #4169E1;
}

#dank, h1 span {
  font-style: italic;
}

#i {
  width: 250px;
  height: 300px;
  margin: -320px 0 20px -10px;
  border-radius: 20px 25px 30px 40px;
  border: 1px solid navy;
}

#bio {
  width: 780px;
  padding: 60px;
  height: 250px;
  border: 0.8px solid purple;
  border-radius: 75px 80px 80px 75px;
}

#bio, div {
  margin: 50px auto;
}

blockquote strong, #bio, #camel, #cheese, #economy, #young-thug, #ismail, #dank, #spotify, blockquote, blockquote p  {
  background-color: #DCDCDC;
}

.disco-camels, .disco-camels2 {
  margin: 0 0 0 23px;
  border: 1px solid violet;
  width: 1216px;
  height: 60px;
  border-radius: 3px 3px 3px 3px;
}

.disco-camels > img, .disco-camels2 > img {
  width: 64px;
  height: 60px;
}

h2 {
  font-size: 300%;
  margin: 50px 0 30px 0;
}

#first-row {
  margin: 0 0 0 32px;
}

#brown {
  margin: 40px 0 0 25px;
}

#brown, #gucci {
    border-radius: 10px 10px 15px 15px;
    border: 0.7px solid teal;
}

#grips {
  width: 35%;
  border-radius: 15px 15px 20px 20px;
  border: 0.9px dashed indigo;
}

#gucci, #grips {
  height: 230px;
}

#second-row {
  margin: 0 0 0 57px;
}

#q, #kimye {
  width: 30%;
  border-radius: 15px 15px 10px 10px;
  border: 1.4px solid maroon;
}

#corey {
  width: 431px;
  border-radius: 20px 20px 15px 15px;
  border: 1.4px dotted orange;
}

#kimye, #gucci {
  width: 350px;
}

#corey, #kimye, #q {
  height: 220px;
}

.white {
  margin: 120px 0 0 0;
}

li {
  font-size: 28px;
}

.lines {
  margin: 200px 0 0 0;
}

.space, .beautiful {
  margin: 400px 0 0 0;
}

#shabba {
  width: 70%;
  margin: 0 0 0 200px;
  border: 0.8px solid blue;
  border-radius: 110px 110px 80px 80px;
}

#pizza, #whitespace, .lthree {
  margin: 300px 0 0 0;
}

footer {
  font-size: 95%;
  text-align: right;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 23px;
  width: 100%;
}

.nav, #i, #drake1 {
  float: left;
}

.nav > a, .links > a, #footer > section {
  color: #808080;
}

footer, ul {
    font-weight: bold;
}
